
<div class="row">
<p id="notice" style="text-align: center;"><%= notice %></p>
<% @posts.each do |post| %>
<% user = User.find_by(id: post.user_id) %>
<div class="col-md-6 col-lg-6  ">
    <div class="thumbnail">
      
        <%= image_tag post.banner_image, class: 'img-rounded',style: "height: 250px; width: 100%;"  %>
        <div class="caption", style = "overflow: auto; height: 90px;" >
         <h3><%= link_to post.title.capitalize, post %></h3>
         <small>Published on: <%= post.created_at.strftime("%-b %-d, %Y") %> </small>
         <small class="pull-right"><%= user.name.capitalize %></small>
       
        
        </div>
      </div>
      </div>
  <% end %>
  </div>