
<div class="row">
<p id="notice"><%= notice %></p>
<% @posts.each do |post| %>
<% user = User.find_by(id: post.user_id) %>
<div class="col-md-4 col-sm-12">
    <div class="thumbnail">
      
        <%= image_tag post.banner_image, class: 'img-rounded',style: "height: 250px; width: 99%;"   %>
        <div class="caption">
         <h3><b><%= link_to post.title.capitalize, show_path(post) %></b></h3>
         <small>Published on: <%= post.created_at.strftime("%-b %-d, %Y") %> </small>
         <small class="pull-right"><b><%= user.name.capitalize %></b></small>
        </div>
      
    </div>
  </div>
  <% end %>
  </div>
