
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title,class: "form-control" %>
  </div>

   <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :banner_image, id: :post_banner_image,class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :post_description,class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: current_user.id,class: "form-control" %>
  </div>

  

  <div class="actions">
    <%= form.submit 'Post', class: 'btn btn-info form-control' %>
  </div>
<% end %>
