
<div class="row">
<p id="notice"><%= notice %></p>

  <p style="text-align: center;">
  <%= link_to 'New Blog', new_post_path, class: 'btn btn-success', style: 'color: white; width: 40%' %>
  </p> 
<% @posts.each do |post| %>
<% user = User.find_by(id: post.user_id) %>
<div class="col-md-6 col-lg-6  ">
    <div class="thumbnail">
      
        
<img src= "<%= post.banner_image%>" alt="Image not found" onerror="this.onerror=null;this.src='https://images.pexels.com/photos/163114/mario-luigi-figures-funny-163114.jpeg?h=350&auto=compress&cs=tinysrgb';", class= 'img-rounded center',style = 'border: 2px solid black;' %>


        <div class="caption", style = "overflow: auto; height: 90px;" >
         <h3><%= link_to post.title.capitalize, post %></h3>
         <small>Published on: <%= post.created_at.strftime("%-b %-d, %Y") %> </small>
         <small class="pull-right"><%= user.name.capitalize %></small>
        </div>
        
    </div>
  </div>
  <% end %>
  </div>
