<div class="row" >
<div class="col-md-10 col-md-offset-1">

<br><br>

<%= image_tag @post.banner_image, class: 'img-rounded center',style: 'border: 2px solid black;' %>


<br><br>
<div class= "box" style="background: rgba(254, 254, 220, .4); width: 100%;">
<br>
<h3 style= 'color: white; text-align: center;'>
  <b>
  <%= @post.title.capitalize  %>
  </b>
</h3>
<br><br>
<div style="color: white !important; margin-left: 10px;">
 
  <%= @post.description.html_safe %>
</div>

<br><br><br>
<p style="text-align: center;">
<%= link_to 'Edit', edit_post_path(@post),class: 'btn btn-info btn-lg' %> 
<%= link_to 'Back', posts_path,class: 'btn btn-warning btn-lg'  %> 
<%= link_to 'Delete', @post, method: :delete, data: {confirm: 'Are you sure?'},class: 'btn btn-info btn-lg' %>
</p>
<br><br>
</div>
</div>
</div>